@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: 'Miama';
    font-style: normal;
    font-weight: 300;
    src: local('Miama'), local('Miama'), url(../font/Miama.otf) format('otf');
  }
body{
    background: #000;
    font-family: 'Inter', sans-serif;
}
.main_hero_section {
    background: linear-gradient(180deg, #111 0%, rgba(119, 119, 119, 0.00) 100%);
}
/* header */
.header{
    width: 100%;
}
.container{
    width: 80%;
    margin: auto;
}


nav {
    border-radius: 39px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    padding-left: 10px;
    padding-right: 10px;
}

nav ul {
    padding-left: 0px;
    margin-bottom: 0px;
    list-style: none;
}

nav ul li {
    display: inline-block;
}
nav>ul li a {
    color: #FFF;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 21.6px */
    text-decoration: none;
}

nav>ul li {
    margin: 0px 18px;
}
nav>ul li:first-child {
    margin-left: 0px;
}
nav>ul li:last-child {
    margin-right: 0px;
}
a.active {
    border-radius: 46px;
    background: #E6533C;
    display: flex;
    padding: 8px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
nav {
    height: 50px;
    align-items: center;
    display: flex;
}
nav>ul>li>a {
    border-radius: 46px;
    display: flex;
    padding: 8px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header {
    padding-top: 40px;
    padding-bottom: 40px;
}
/* hero-section */
.hero_contents h1{
    color: #FFF;
    font-family: Inter;
    font-size: 58px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 20px;
}
.hero_contents h1 span{
    color: #fff;
    font-family: Miama;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 1%;
}
.logo h1 {
    color: #E6533C;
    font-family: Inter;
    font-size: 36px;
    font-style: italic;
    font-weight: 800;
    line-height: 1; 
    
}
.hero_contents p{
    color: rgba(255, 255, 255, 0.50);
    /* body-text */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.5px;
    margin-bottom: 20px;
}
.button_bodyas button.orange_btns{
    border-radius: 42px;
    background: #E6533C;
    padding: 18px 30px;
    border: none;
    outline: none;
    justify-content: center;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1px; /* 122.222% */
}
button.black_btns{
    border-radius: 42px;
    border: 1px solid #FFF;
    outline: none;
    justify-content: center;
    background-color: #000;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1px; 
    padding: 18px 30px;
}
.tag_box_areas {
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(10px);
    width: 160px;
    height: 96px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

.box_cols h3 {
    color: var(--Text-1, #FAFAF9);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 24px; /* 100% */
    letter-spacing: 0.3px;
    margin-bottom: 4px;
}

.box_cols p {
    color: rgba(255, 255, 255, 0.65);
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 153.846% */
    letter-spacing: 1px;
}

.shape_box {
    width: 40px;
    height: 40px;
    background: #E6533C;
    border-radius: 100px;
}

.tag_box_areas {}

.box_cols {
    margin-left: 10px;
}
.box_cols.top_pos h3 {
    font-size: 40px;
    margin-bottom: 10px;
}

.box_cols.top_pos p {
    font-size: 13px;
}
.hero_col_profile {
    position: relative;
}
.tag_box_areas.left_bottom {
    position: absolute;
    bottom: 76px;
    left: -125px;
}

.tag_box_areas.top_right {
    position: absolute;
    right: -86px;
    top: 142px;
}