@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: 'Miama';
    font-style: normal;
    font-weight: 300;
    src: local('Miama'), local('Miama'), url(../font/Miama.otf) format('otf');
  }
body{
    background: #000;
    font-family: 'Inter', sans-serif;
}
.main_hero_section {
    /* background: linear-gradient(180deg, #111 0%, rgba(119, 119, 119, 0.00) 100%); */
    background: linear-gradient(180deg, #111 0%, rgb(119 119 119 / 19%) 80%, rgb(119 119 119 / 0%));
}
/* header */
.header{
    width: 100%;
}
.container{
    width: 80%;
    margin: auto;
}


nav {
    border-radius: 39px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    padding-left: 10px;
    padding-right: 10px;
}

nav ul {
    padding-left: 0px;
    margin-bottom: 0px;
    list-style: none;
}

nav ul li {
    display: inline-block;
}
nav>ul li a {
    color: #FFF;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 21.6px */
    text-decoration: none;
}

nav>ul li {
    margin: 0px 18px;
}
nav>ul li:first-child {
    margin-left: 0px;
}
nav>ul li:last-child {
    margin-right: 0px;
}
a.active {
    border-radius: 46px;
    background: #E6533C;
    display: flex;
    padding: 8px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
nav {
    height: 50px;
    align-items: center;
    display: flex;
}
nav>ul>li>a {
    border-radius: 46px;
    display: flex;
    padding: 8px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header {
    padding-top: 40px;
    padding-bottom: 40px;
}
/* hero-section */
.hero_contents h1{
    color: #FFF;
    font-family: Inter;
    font-size: 58px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 20px;
}
.hero_contents h1 span{
    color: #fff;
    font-family: Miama;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 1%;
}
.logo h1 {
    color: #E6533C;
    font-family: Inter;
    font-size: 36px;
    font-style: italic;
    font-weight: 800;
    line-height: 1; 
    
}
.hero_contents p{
    color: rgba(255, 255, 255, 0.50);
    /* body-text */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.5px;
    margin-bottom: 20px;
}
.button_bodyas button.orange_btns{
    border-radius: 42px;
    background: #E6533C;
    padding: 18px 30px;
    border: none;
    outline: none;
    justify-content: center;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1px; /* 122.222% */
}
button.black_btns{
    border-radius: 42px;
    border: 1px solid #FFF;
    outline: none;
    justify-content: center;
    background-color: #000;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1px; 
    padding: 18px 30px;
}
.tag_box_areas {
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(10px);
    width: 160px;
    height: 96px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

.box_cols h3 {
    color: var(--Text-1, #FAFAF9);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 24px; /* 100% */
    letter-spacing: 0.3px;
    margin-bottom: 4px;
}

.box_cols p {
    color: rgba(255, 255, 255, 0.65);
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 153.846% */
    letter-spacing: 1px;
}

.shape_box {
    width: 40px;
    height: 40px;
    background: #E6533C;
    border-radius: 100px;
}

.tag_box_areas {}

.box_cols {
    margin-left: 10px;
}
.box_cols.top_pos h3 {
    font-size: 40px;
    margin-bottom: 10px;
}

.box_cols.top_pos p {
    font-size: 13px;
}
.hero_col_profile {
    position: relative;
}
.tag_box_areas.left_bottom {
    position: absolute;
    bottom: 76px;
    left: -125px;
}

.tag_box_areas.top_right {
    position: absolute;
    right: -86px;
    top: 142px;
}
/* Change Your Habits */
.inner_header h2 {
    color: #FFF;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 1; /* 57.6px */
    margin-bottom: 15px;
}

.inner_header p {
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.3px;
}

.inner_header {
    text-align: center;
}
.row_grid {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    margin: 2rem 0;
    row-gap: 2rem;
    margin-bottom: 80px;
    text-align: center;
}

.round_boxs {
    margin-bottom: 25px;
}

.section_header {
    margin-bottom: 50px;
}
.col_contents h4 {
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 21.6px */
}

.col_contents p {
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: 0.3px;
}

.inner_j_columns {
    width: 75%;
    margin: auto;
}
.change_your_habits {
    padding-top: 80px;
}
/* run */
.row.br_gurd {
    border-radius: 18px;
    background: #222;
    padding: 30px;
}

.run_contents h3 {
    color: #FFF;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%; /* 57.6px */
    margin-bottom: 14px;
}

.run_contents p {
    color: rgba(255, 255, 255, 0.50);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.3px;
    margin-bottom: 30px;
}

.run_btn button {
    display: flex;
    width: 180px;
    padding: 14px 20px;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    border-radius: 42px;
    background: #E6533C;
    border: none;
    outline: none;
    color: #FFF;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 122.222% */
}
.inner_text_cal_head h3 {
    color: #FFF;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%; /* 57.6px */
}

.inner_text_cal_head p {
    color: rgba(255, 255, 255, 0.50);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.3px;
}

.blank_fill {
    width: 300px;
}

.full_heading {
    display: flex;
    align-items: center;
}
.full_heading {
    padding: 70px 0px;
}
/* BMI Calculator Chart */
table {
    border:1px solid rgba(255, 255, 255, 0.10);
    gap: 0px;
    width: 100%;
  }
  table, th, td {
    border-bottom:1px solid rgba(255, 255, 255, 0.10);
    border-right:1px solid rgba(255, 255, 255, 0.10);
  }
  .br_right{
    border-right:0px;
  }
  th,td{
    color: rgba(255, 255, 255, 0.50);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%; /* 16.8px */
    padding: 13px;
  }
  .bm_a_calculater_chart {
    background: #222222;
    padding: 50px 0px;
}

.chart_heading h2 {
    color: #FFF;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%; /* 33.6px */
    margin-bottom: 40px;
}
.b_o td{
    border-bottom: none !important;
}
table {
    border-collapse: collapse;
  }
  table th{
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 19.2px */
    text-align: left;
  }
  .chart_heading.onts_mr p {
    color: rgba(255, 255, 255, 0.50);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.3px;
}

.chart_heading.onts_mr h2 {
    margin-bottom: 12px;
}
.input_col input {
    display: flex;
    width: 100%;
    /* height: 48px; */
    padding: 12px 40px 12px 20px;
    align-items: center;
    flex: 1 0 0;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.10);
    border: none;
    outline: none;
    color: rgba(255, 255, 255, 0.60);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1; /* 137.5% */
}
.input_col select {
    display: flex;
    width: 100%;
    /* height: 48px; */
    padding: 12px 40px 12px 20px;
    align-items: center;
    flex: 1 0 0;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.10);
    border: none;
    outline: none;
    color: rgba(255, 255, 255, 0.60);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1; /* 137.5% */
}
.conTact_row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.custom_input_col.half_col {
    width: 45%;
}

.input_col {
    width: 100%;
}
.input_col input {
    display: flex;
    width: 94%;
    /* height: 48px; */
    padding: 12px 10px;
    align-items: center;
    flex: 1 0 0;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.10);
    border: none;
    outline: none;
    color: rgba(255, 255, 255, 0.60);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
}
.conTact_row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.custom_input_col.half_col {
    width: 49%;
}
.chart_heading.onts_mr {
    margin-bottom: 30px;
}
.input_col {
    width: 100%;
}


.custom_input_col.full_col {
    width: 100%;
}

.input_col select {
    display: flex;
    padding: 12px 10px;
    align-items: center;
    gap: 0;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.10);
    border: none;
    width: 100%;
    color: rgba(255, 255, 255, 0.60);
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 300;
line-height: 22px; /* 137.5% */
outline: none;
}

.conTact_row {
    width: 100%;
}
.form_submition button {
    border-radius: 42px;
    background: #E6533C;
    padding: 18px 30px;
    border: none;
    outline: none;
    justify-content: center;
    color: #ffffffaf;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 1px;
    margin-top: 15px;
}
/*our team*/
.row_three_grid {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    margin: 2rem 0;
    row-gap: 2rem;
}

.gallery_col_profile img {
    width: 94%;
    margin: auto;
}

.gallery_col_profile {
    text-align: center;
}

.gallery_col {
    position: relative;
}

.gal_content {
    position: absolute;
    bottom: 0;
    left: 40px;
    bottom: 30px;
    color: #fff;
}

.gal_content h4 {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%; /* 24px */
}

.gal_content p {
    color: rgba(255, 255, 255, 0.50);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 16.8px */
}
.row_three_grid {
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.10);
    padding: 20px 10px;
}

.meet_our_team {
    padding: 80px 0px;
}
/* footer */
.footer_header a {
    color: #E6533C;
    font-family: Inter;
    font-size: 60px;
    font-style: italic;
    font-weight: 800;
    line-height: 1; /* 84px */
    text-decoration: none;
    margin-bottom: 0;
}

.footer_content p {
    color: rgba(255, 255, 255, 0.50);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.3px;
}

.footer_header {
    margin-bottom: 20px;
}

.footer_heads h4 {
    color: #FFF;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 1; /* 38.4px */
    margin-bottom: 30px;
}

footer .column_half {
    width: 50%;
}

.footer_link ul {
    list-style: none;
}

.footer_link ul li a {
    color: rgba(255, 255, 255, 0.50);

/* P1 Main/Regular */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 1; /* 27.6px */
    text-decoration: none;
}

.footer_link ul li {
    margin-bottom: 20px;
}

footer .row {
    align-items: self-start;
}

footer {
    background: rgba(255, 255, 255, 0.10);
    padding-top: 60px;
}
/* footer copy right section */
.container.copy_right_border_top {
    border-top: 2px solid rgba(255, 255, 255, 0.10);
    padding: 30px 0px;
    margin-top: 50px;
}

.container.copy_right_border_top p {
    color: rgba(255, 255, 255, 0.50);
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: 1; /* 120% */
    letter-spacing: 0.3px;
    text-align: center;
}
a.humberGer {
    display: none;
}
/*mobile menus*/
.mobile_menu {
    position: fixed;
    background: #ffffff26;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    backdrop-filter: blur(25px);
    padding: 80px 30px;
}



.mobile_menus ul {
    list-style: none;
}

.mobile_menus ul li {
    margin-bottom: 36px;
}

.mobile_menus ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 27px;
}
a.closes {
    text-decoration: none;
    position: absolute;
    right: 33px;
    top: 40px;
    color: #fff;
    font-size: 35px;
}

.mobile_menus {
    margin-top: 24px;
}
.mobile_menu{
    display: none;
}
/*service*/
.row_grid_service {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    margin: 2rem 0;
    row-gap: 2rem;
}

.service_card_s {
    background: #222;
    border-radius: 14px;
    padding: 18px;
    width: 84%;
    margin: auto;
}

.inner_service_card {
    padding: 50px 20px;
    border: 1px dashed #e6533c;
    border-radius: 12px;
}

.service_card_s {}

.service_contentas h3 {
    font-size: 28px;
    font-family: 'Inter';
    color: #e6533c;
    margin-bottom: 14px;
}

.service_contentas p {
    font-size: 16px;
    font-family: 'Inter';
    color: #7f7f7f;
}

button.sr_btns {
    font-family: 'Inter';
    padding: 10px 20px;
    border: 1px dashed #e6533c;
    background: #222222;
    border-radius: 100px;
    color: #e6533c;
    line-height: 1;
    cursor: pointer;
}

.service_contentas {
    margin-bottom: 25px;
}

.card_icon {
    font-size: 35px;
    margin-bottom: 15px;
    color: #e6533c;
}

.service_section {
    padding-top: 80px;
}
.service_card_s{
    cursor: pointer;
}
.service_card_s:hover{
    cursor: pointer;
    background-color: #e6533c;
    transition: 0.3s;
}

.service_card_s:hover .inner_service_card {
    padding: 50px 20px;
    border: 1px dashed #222;
    border-radius: 12px;
    background-color: #fff;
    transition: 0.3s;
}
.service_card_s:hover .inner_service_card button{
    background-color: #fff;
}
.button_bodyas {
    display: flex;
    gap: 16px;
}
button.black_btns {
    background-color: #121212;
}